pandas==2.2.2
beautifulsoup4==4.12.3
requests==2.32.3
flask==2.2.5
apache-airflow[cncf.kubernetes]==2.9.2
pendulum==3.0.0
openpyxl
google-auth==2.30.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.135.0
gunicorn
pytest
pytest-mock
